%div.container
  - @user_rows.each do |user_row|
    %div.row
      - user_row.each do |user|
        %div.span3
          %dl
            %dt= user.name
            %dd is working on:
            %dd= user.current_task
